body {
	margin: 20px;
	font-family: "Tahoma", Arial, sans-serif;
	color: darkblue;
	background-color: #f1f1f1;
}

h1,
h2 {
	font-weight: normal;
}

textarea {
	border: 1px solid darkgreen;
	display: block;
	width: 100%;
}

button {
	background-color: lightgreen;
	border: 1px solid darkgreen;
	cursor: pointer;
	margin-top: 5px;
}

li {
	padding: 3px 0;
}

.delete_comment {
	cursor: pointer;
	font-size: 11px;
	position: relative;
	border: 1px solid salmon;
	color: salmon;
	background-color: white;
	padding: 0px 4px 1px;
	margin-left: 5px;
	top: -2px;
}

.wrapper {
	width: 700px;
	margin: 0 auto;
}

.text-center {
	text-align: center;
}

